
<h1>Lista de Post: </h1>
<!--each -> Para cada postagem faça algo.-->
{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{dataValues.id}}"><button>Deletar</button></a>
    <hr>

{{/each}}
